.receitas{
   background: #E5E5E5;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 5rem 0 0 5rem;
   
}
.receita{
   display: flex;
   flex-direction: column;
   background: #FFFFFF;
   margin: 0 2rem 5rem 0;
   width: 25%;
   border-radius: 8px;

}
.receita__imagem{
   border-radius: 8px  8px 0 0;
}

.receita__titulo{
   font-family: 'Roboto';
   font-size: 1.2rem;
   color: #000000;
   text-align: justify;
   padding:  0.8rem ;

}
.receita__descricao{
   font-family: 'Roboto';
   font-size: 1rem;
   color: #000000;
   text-align: justify;
   padding: 0 1rem;
   

}
.receita__botao{
   background: #8D0606;
   border-radius: 5px;
   color: white;
   border: none;
   margin:  0 1rem 2rem;
   padding: 0.5rem;
}
.receita__botao:hover{
   background: #520202;
   transition: ease-in 0.2s;
   transform: scale(1,1);
   
}
@media (max-width:850px){
   .receitas{
      width: 100%;
      margin: 0 auto ;
      padding: 0.8rem 0;
   }
   .receita{
     width: 70%;
     margin: 2rem auto 2rem;

   }
}
